{% macro multipleSelectionImage(productOption, args) %}

    {% if productOption.reference.values|length %}
        <div class="productStaticOption productStaticOptionImage">
            <span class="staticOptionName">{{- productOption.option.language.name -}}</span>
            <div class="staticOptionValue">
                {%- for referenceValue in productOption.reference.values -%}
                    {%- for optionValue in productOption.option.values -%}
                        {%- if referenceValue.value == optionValue.id -%}
                            {%- if args.showImageValues -%}
                                <img src="{{ optionValue.images.smallImage }}" class="productOptionValueImage" alt="{{ optionValue.language.value|escape }}">
                            {%- else -%}
                                {{- optionValue.language.value -}}
                            {%- endif -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endfor -%}
            </div>
        </div>
    {% endif %}

{% endmacro %}