<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>smallImage</td><td>{{ mainImages.smallImage }}</td>
		</tr>
		<tr>
			<td>mediumImage</td><td>{{ mainImages.mediumImage }}</td>
		</tr>
		<tr>
			<td>largeImage</td><td>{{ mainImages.largeImage }}</td>
		</tr>
	</table>
</div>




