{% macro countdown(args) %}
	{% if not (args.endDate < commerceDateTime) and args.endDate|date('Y')|number_format(0, '', '') < 2048 %}
		{% set data = {
			template: args.template,
			callback: args.callback,
			startDate: formatMomentDateTime(commerceDateTime),
			endDate: formatMomentDateTime(args.endDate),
			categoryId: args.categoryId
		} %}
		<div class="countdown" id="countdown{{ random(1000, 9999) }}" data-lc-countdown='{{ outputJsonHtmlString(data) }}'>
			<div class="countdown-content"></div>
		</div>
	{% endif %}
	
{% endmacro countdown %}
