{%- macro gridTotalUnits(product) -%}
    <div class="product-grid-total">
        <span class="product-grid-total-label">{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::PRODUCT_GRID_TOTAL_UNITS')] -}}</span>
        <span class="product-grid-total-units">0</span>
    </div>
{%- endmacro -%}