<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>mode</td><td>{{ geoIPSettings.mode }}</td>
		</tr>
		<tr>
			<td>redirectOnlyFirstTime</td><td>{{ geoIPSettings.redirectOnlyFirstTime?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>warningMessage</td><td>{{ geoIPSettings.warningMessage }}</td>
		</tr>
		<tr>
			<td>redirectionUrl</td><td>{{ geoIPSettings.redirectionUrl }}</td>
		</tr>
	</table>
</div>




