<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>title</td><td>{{ itemSeoSettings.title }}</td>
		</tr>
		<tr>
			<td>metadescription</td><td>{{ itemSeoSettings.metadescription }}</td>
		</tr>
		<tr>
			<td>keywords</td><td>{{ itemSeoSettings.keywords }}</td>
		</tr>
	</table>
</div>




