<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>verificationRequired</td><td>{{ userAccountsSettings.verificationRequired?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>activatedByDefault</td><td>{{ userAccountsSettings.activatedByDefault?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>passwordPolicyActive</td><td>{{ userAccountsSettings.passwordPolicyActive?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>userKeyCriteria</td><td>{{ userAccountsSettings.userKeyCriteria }}</td>
		</tr>
	</table>
</div>




