<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>layout</td><td>{{ theme.layout }}</td>
		</tr>
		<tr>
			<td>content</td><td>{{ theme.content }}</td>
		</tr>
		<tr>
			<td>id</td><td>{{ theme.id }}</td>
		</tr>
	</table>
</div>




